body {
    background-color: rgb(212, 194, 212);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: purple;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 90vh;
    width: 90vw;

}

.content {
    background-color: aliceblue;
    height: 60vh;
    width: 50vw;


    display: flex;  
}
  
.left{
    min-width: 300px;
    width: 100%;
}
.right{
     
}
.picture1 {
    
    
    height: 100%;
    width: auto;
 
}